SMTP_SERVER={{GRAFANA_SMTP_HOST}}
SMTP_SERVER_PORT={{GRAFANA_SMTP_PORT}}
#SMTP_SERVER_USER=moranl
#SMTP_SERVER_PASSWORD=Mika1030!


SENDER_ADDRESS={{TELEGRAF_MAIL_FROM}}

RECIPIENTS_LIST={{TELEGRAF_RECIPIENTS_LIST}}

#FILTER=severity='3'
