[Unit]
Description= Helix BOE service
Wants=network.target remote-fs.target
After=network.target remote-fs.target
[Service]
LimitCORE=infinity
LimitNOFILE=8192
LimitNPROC=500000
User=helix
Type=forking
#PIDFile=/teoco/helix_web_basedir/tti3rd/boe/sap_bobj/serverpids/sia.pid
PIDFile=/teoco/helix_web_basedir/tti3rd/boe/sap_bobj/serverpids/sia_sia.CentralManagementServer.pid
TimeoutStartSec=600
TimeoutStopSec=600
Restart=no
EnvironmentFile=/teoco/helix_web_basedir/project/env/env.ini
ExecStart=/teoco/helix_web_basedir/integration/scripts/j2ee/boeserver.ksh start -p boxi123 -noTomcat
ExecStop=/teoco/helix_web_basedir/integration/scripts/j2ee/boeserver.ksh stop -p boxi123 -noTomcat
[Install]
WantedBy=multi-user.target
