[Unit]
Description= Helix tomcat service
Wants=network.target remote-fs.target
After=network.target remote-fs.target
[Service]
LimitCORE=infinity
LimitNOFILE=8192
LimitNPROC=500000
User=helix
Type=forking
Restart=no
EnvironmentFile=/teoco/helix_web_basedir/project/env/env.ini
ExecStart=/teoco/helix_web_basedir/tti3rd/boe/sap_bobj/tomcatstartup.sh
ExecStop=/teoco/helix_web_basedir/tti3rd/boe/sap_bobj/tomcatshutdown.sh
[Install]
WantedBy=multi-user.target
