[Unit]
DefaultDependencies=no
Description=Netracx meta service
BindsTo=helix_all.service
#Wants=helix_n2_parent.service
After=dbora.service
#Wants=dbora.service helix_n2sh_parent.service
Wants=helix_n2sh_parent.service
#Wants=helix_n2_common@n2_multi_router_parent.service
#Wants=helix_n2_common@med2_parent.service
#Wants=helix_n2_common@gd_core_parent.service
#Wants=helix_n2_common@dvx2_parent.service
#Wants=helix_n2_common@sp_parent.service
#Wants=helix_n2_common@sec_inf_parent.service
#Wants=helix_n2_common@n2p_parent.service
#Wants=helix_n2_common@n2_scheduler_parent.service
#Wants=helix_n2_common@ms_parent.service
#Wants=helix_n2_common@pmm_parent.service
#Wants=helix_n2_common@kpi_generator_parent.service
#Wants=helix_n2_common@ezspmm2_parent.service
#Wants=helix_n2_common@ezs_parent.service
#Wants=helix_n2_common@nci2_parent.service
#Wants=helix_n2_common@snmp_agent_parent_all.service
#Wants=helix_n2_common@fam_api_parent.service
#Wants=helix_n2_common@easy_pm_parent.service
#Wants=helix_n2_common@tg_parent.service
#Wants=helix_n2_common@nci2_services_parent_per_host.service
#Wants=helix_n2_common@ad_agent_parent.service

Wants=helix_n2sh_common@MED2.service
Wants=helix_n2sh_common@MS.service
Wants=helix_n2sh_common@NCI2.service
Wants=helix_n2sh_common@GD.service
Wants=helix_n2sh_common@DVX2.service
Wants=helix_n2sh_common@PMM2.service
Wants=helix_n2sh_common@N2P.service
Wants=helix_n2sh_common@SEC_INF.service
Wants=helix_n2sh_common@FAM_SERVICES.service
Wants=helix_n2sh_common@TG.service
Wants=helix_n2sh_common@AD_AGENT.service
Wants=helix_n2sh_common@SNMP_AGENT.service
Wants=helix_n2sh_common@EZS.service
Wants=helix_n2sh_common@EZSPMM2.service
Wants=helix_n2sh_common@FAM_TRS.service
Wants=helix_n2sh_common@SP.service
Wants=helix_n2sh_common@EASY_PM.service

[Install]
WantedBy=multi-user.target
