[Unit]
Description= Helix apache service
PartOf=helix_j2ee.target
After=helix_j2ee.target

[Service]
LimitCORE=infinity
LimitNOFILE=8192
LimitNPROC=500000
User=helix
Type=forking
TimeoutStartSec=300
TimeoutStopSec=300
RestartSec=30
Restart=always
Environment="LD_LIBRARY_PATH=/teoco/helix_web_basedir/tti3rd/apache/lib" "LD_LIBRARY_PATH_64=/teoco/helix_web_basedir/tti3rd/apache/lib"
TimeoutStopSec=30
ExecStart=/teoco/helix_web_basedir/tti3rd/apache/bin/apachectl start
ExecStop=/teoco/helix_web_basedir/tti3rd/apache/bin/apachectl stop
[Install]
WantedBy=helix_j2ee.target
